---
layout: default
---

<div class="familia-wrap under-menu">
	<h2 id="familia" class="sub-title-md">This is the family space, make sure is working.</h2>
	<p class="text-normal">Parrafo de intro para los profesores, parabras de equipo o invitacion de la familia para aprender a bailar</p>

		<div class="persons-container">

		{% for person in site.categories.familia-nav  %}

		<div class="person" style="order:{{ person.orden-lista }};">

			<div class="picture-name-wrap">
				<div class="small-img-wrap" style="background-image: url(all-images/fam-images/{{person.small-img}});" ></div>
				<!-- <img class="small-img" src="fam-images/{{ person.small-img }}"> -->
				<div class="line"></div>
				<div class="name-wrap">
					<h3 class="apodo">{{ person.apodo }}</h3>
					<span class="summary">{{ person.ritmo }} // {{ person.timepo-bailando }}</span>
					<span class="clik-more">Ver mas.</span>
				</div>
			</div>


			<div class="more-info-wrap">
				<div class="more-info">
					<p class="person-name">{{ person.name }}</p>

					<div class="person-line"></div>

					<p class="quick-info"> <span class="qk-info">Ritmo preferido: </span> {{ person.ritmo }}</p>
					<p class="quick-info"><span  class="qk-info">Tiempo bailando: </span>{{ person.timepo-bailando }}</p>

					<div class="person-line"></div>

					<p class="pregunta">¿Qué es lo que mas te gusta del baile?</p>
					<p class="respuesta">{{ person.baile}}</p>
					<p class="pregunta">¿Porqué quisite aprender a bailar?</p>
					<p class="respuesta">{{ person.porque }}</p>
					<p class="pregunta">¿Dónde aprendiste a bailar?</p>
					<p class="respuesta">{{ person.donde}}</p>
					<p class="pregunta">¿Cual es la mejor experiencia que has tenido bailando?</p>
					<p class="respuesta">{{ person.mejor-experiencia }}</p>
				</div>
			</div>

			<div class="small-line"></div>


		</div>
		{% endfor %}
		</div>

		{% include record.html %}
		{% include estudiantes.html %}


</div>
