<section class="estudiantes-container">

  <div class="estudiantes-wrap">

    {% for student in site.categories.estudiantes limit:10 %}

      <div class="student-container">
        <div class="std-img-black-window">

          <img src="all-images/est-images/{{student.small-img}}" alt="" class="std-img">

          <div class="black-window">
            <div class="std-detalles">
              <h5 class="std-apodo">{{ student.apodo }}</h5>
              <p class="std-ritmo">{{ student.ritmo }}</p>

              {% if student.facebook%}
              <p class="std-facebook">Facebook</p>
              {% endif %}
            </div>
          </div>

        </div>


        <div class="std-info">
          <h5 class="std-name">{{ student.name }}</h5>
          <p class="std-coreo">{{ student.coreografias }}</p>
        </div>
      </div>

    {% endfor %}
  </div>

</section>
