<footer class="site-footer">

  <div class="footer-wrap">


    <ul class="ul-info-wrap">
      <li class="text-footer">Contactanos:</li>
      <li class="link-footer"><a href="https://www.facebook.com/nsalsat.saltillo?fref=ts" target="_blank">Facebook</a></li>
      <li class="link-footer"><a href="#">Ubicacion</a></li>
      <li class="link-footer"><a href="#">Email</a></li>
    </ul>


    <div class="frase-wrap">
      <h3 class="frase">Keep Dancing.</h3>
      <span class="sign">- Ricardo Lara</span>
    </div>
    
  </div>
  

</footer>
