<header class="site-header" id="top">
  <div class="wrap">

    <div class="bg-duela">
      <div class="logo-text">
        <img src="assets/img/logo-nslasate.png">
        <div class="text-container"><h2>Keep dancing.</h2></div>
      </div>
    </div>


    <div class="nav">
      <div class="sec-contacto">
        <img src="assets/img/bg-contacto.jpg">
        <a href="index.html#contacto" class="menu-link"><h3 class="menu-name-text"><span>Contactanos</span><br>Aprende<br>ahora</h3></a>
        <div class="magic-text">
          <div>
            <p>Get to know all the members of our family, what they like and why they dance.</p>
            <p>We consied ourselves not  just a super team, but a real family, taking care of each other.</p>
            <p>Join the family.</p>
          </div>
          <a href="index.html#contacto" class="menu-link"><span>Ver mas.</span></a>
        </div>
      </div>


      <div class="sec-familia">
        <img src="assets/img/bg-familia.jpg">
        <a href="familia.html#familia" class="menu-link"><h3 class="menu-name-text son"><span></span><br>Familia</h3></a>
        <div class="magic-text">
          <div>
            <p>Get to know all the members of our family, what they like and why they dance.</p>
            <p>We consied ourselves not  just a super team, but a real family, taking care of each other.</p>
            <p>Join the family.</p>
          </div>
          <a href="familia.html#familia" class="menu-link"><span class="son">Ver mas.</span></a>
        </div>
      </div>


      <div class="sec-eventos">
        <img src="assets/img/bg-eventos.jpg">
        <a href="eventos.html#eventos" class="menu-link"><h3 class="menu-name-text"><span>Priximos</span><br>Eventos</h3></a>
        <div class="magic-text">
          <div>
            <p>Get to know all the members of our family, what they like and why they dance.</p>
            <p>We consied ourselves not  just a super team, but a real family, taking care of each other.</p>
            <p>Join the family.</p>
          </div>
          <a href="eventos.html#eventos" class="menu-link"><span>Ver mas.</span></a>
        </div>
      </div>


      <div class="sec-galeria">
        <img src="assets/img/bg-galeria.jpg">
        <a href="galeria-eventos.html#galeria" class="menu-link"><h3 class="menu-name-text"><span></span><br>Galeria</h3></a>
        <div class="magic-text">
          <div>
            <p>Get to know all the members of our family, what they like and why they dance.</p>
            <p>We consied ourselves not  just a super team, but a real family, taking care of each other.</p>
            <p>Join the family.</p>
          </div>
          <a href="galeria-eventos.html#galeria" class="menu-link"><span>Ver mas.</span></a>
        </div>
      </div>
      
    </div>
  </div> <!-- end of wrap -->
</header>
