<section class="horarios-container">

  <div class="horarios-wrap">
      {% for class in site.data.page-info.horario %}
      <div class="day-container">

        <h4 class="dia">{{ class.dia }}</h4>

        <p class="clase">{{ class.clase1 }}</p>
        <div class="dia-clase-div"></div>
        <p class="hora">{{ class.hora1 }}</p>

        {% if  class.hora2 %}
        <div class="clases-div"></div>

        <p class="clase">{{ class.clase2 }}</p>
        <div class="dia-clase-div"></div>
        <p class="hora">{{ class.hora2 }}</p>

        {% endif %}

      </div>
      {% endfor %}
  </div>

</section>
