
.contacto-wrap {
  //max-width: 1260px;
  min-width: 280px;
  background-color: #fff;
  width: 100%;
  height: auto;
  margin: 40px auto;
  text-align: center;
  padding: 10px 0px;

  .sub-title-md {
    font-weight: $font-weight-title;
    font-size: $font-size-title-big;
  }
  .text-normal {
    color: $text-color-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-normal-big;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .contacto-steps-wrap {
    [class^="step-"] {
      display: flex;
      margin: 0px 0 0px 0;
      padding: 30px 0;
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
    }

    .alt {
      background-color: $section-gray;
    }
  }
}
