.wrap{
	height: 100vh;
	min-height: 450px;
	width: 100%;
	min-width: 300px;
	display: flex;
	flex-flow: column;
	background-color: rgba(229, 109, 26, 0.5);
/*	background-color: transparentize(blue, 0.3);*/

	.bg-duela {
		background-image: url(/assets/img/duela.png);
		background-position: center center;
		background-attachment: fixed;
		height: 20vw;
		max-height: 150px;
		position: relative;

		img {
			height: 125%;
			width: auto;
			float: left;
			position: absolute;
			top: -10%;
			z-index: 12;
		}

		.text-container{
			width: 65%;
			height: 100%;
			position: absolute;
			right: 0;
			display: inline-block;
			text-align: center;
			background-color: transparent;

			h2{
				display: block;
				margin: 0;
				padding: 0;
				position: absolute;
  				top: 50%;
  				left: 50%;
  				transform: translate(-50%,-50%);
  				font-family: 'Slabo 27px', 'Oswald',serif;
  				color: #333;
  				font-size: calc(5.5vw);
  				line-height: 50px;
  				text-shadow: 0 2px 3px rgba(0,0,0,.4);
			}
		}

	}


/*-----------------   Nav blcks   -------------*/


	.nav {
		display: flex;
		flex: 1 1 auto;
		min-height: 320px;

		[class^="sec-"] {
			display: inline-block;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			width: 25%;
			text-align: center;
			position: relative;
			overflow: hidden;
			background-color: #111;

			.menu-name-text {
				position: absolute;
				text-decoration: none;
				color: #fff;
				text-shadow: 0 2px 3px rgba(0,0,0,.4);
				font-family: 'Oswald', sans-serif;
				font-weight: lighter;
				font-size: 30px;
    		line-height: 1;
				text-transform: uppercase;
				padding: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				transition: all .3s ease-in-out;
				z-index: 13;



				a:link{
					color:#fff;
				}
				a:visited{
					color:#fff;
				}

				span{
					font-size: 12px;
					line-height: 12px;
				}
			}
			img{
				position: absolute;
				display: block;
				background-color: #222;
				filter        : blur(0px);
			    -moz-filter   : blur(0px);
			    -webkit-filter: blur(0px);
			    -o-filter     : blur(0px);

			    filter        : brightness(40%);
			    -moz-filter   : brightness(40%);
			    -webkit-filter: brightness(40%);
			    -o-filter     : brightness(40%);

			    transition        : all .3s ease-in-out;
			    -moz-transition   : all .3s ease-in-out;
			    -webkit-transition: all .3s ease-in-out;
			    -o-transition     : all .3s ease-in-out;
			}

			&.sec-contacto{
				img{
					height: 110%;
					width: auto;
					top: 50%;
	  				left: 80%;
	  				transform: translate(-47%,-50%);
				}
			}
			&.sec-familia{
				img{
					height: 120%;
					width: auto;
					top: 50%;
	  				left: 50%;
	  				transform: translate(-47%,-50%);
				}
			}
			&.sec-eventos{
				img{
					height: 110%;
					width: auto;
					top: 50%;
	  				left: 50%;
	  				transform: translate(-70%,-50%);
				}
			}
			&.sec-galeria{
				img{
					height: 120%;
					width: auto;
					top: 50%;
	  				left: 50%;
	  				transform: translate(-50%,-50%);
				}
			}

			&:hover{
				box-shadow: 0 2px 3px rgba(0,0,0,.4);

				h3{
					top: 10%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
				.magic-text{
					bottom: 0%;
					height: 65%;

				}
				img{
					filter        : brightness(30%);
				    -moz-filter   : brightness(30%);
				    -webkit-filter: brightness(30%);
				    -o-filter     : brightness(30%);
					filter        : blur(1.5px);
				    -moz-filter   : blur(1.5px);
				    -webkit-filter: blur(1.5px);
				    -o-filter     : blur(1.5px);
				    height: 100%;
				}
			}

			.magic-text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: absolute;
				bottom: -100%;
				/*font-size: 12px;*/
				font-size: 1em;
				padding: 10%;
				color: #fff;
				font-weight: lighter;
				line-height: 14px;
				letter-spacing: .7px;

				/*bottom: -100%;
				flex: 1 1 auto;*/
				background-color: rgba(229, 109, 26, 0.86);
				transition: all 0.3s ease-in-out;
				/*height: 50%;*/

				span {
					font-weight: normal;
					color: #05a793;

				}

			}

		}

	}

}

.whitespace {
	width: 90%;
	height: 800px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.3);
}












/*-----------------   Responsive   -------------*/




@media screen and (max-width: 768px){
	.wrap{
		height: auto;
		min-height: 100vh;
		display: flex;
		flex-flow: column;

		.bg-duela {
			height: 15vh;
			min-height: 70px;

			.logo-text{
				display: flex;
				justify-content: space-around;
				align-items: center;

				img {
					height: 17vh;
					min-height: 80px;
					width: auto;
					position: relative;
					top: -10%;
					z-index: 12;
				}

				.text-container{
					position: relative;
					h2{
						line-height: 25px;
						/*font-size: 25px;*/
					}
				}
			}
		}


/*-----------------   Nav-Responsive   -------------*/


		.nav {
			height: auto;
			min-height: 650px;
			flex-wrap: wrap;
			background-color: rgba(0,0,0,0.9);

			[class^="sec-"] {
				width: 50%;
				min-height: 200px;
				position: relative;
				img{
					display: none;

				}

				&.sec-contacto{
					/*img{
						width: 250%;
						height: auto;
						top: 50%;
		  				left: 80%;
		  				transform: translate(-47%,-50%);
					}*/
					background-image: url(/assets/img/bg-contacto.jpg);
					background-size: cover;
					background-position: center center;
					background-color: rgba(0,0,0,0.65);
					background-blend-mode: multiply;

				}
				&.sec-familia{
					/*img{
						width: 160%;
						height: auto;
						top: 50%;
		  				left: 50%;
		  				transform: translate(-47%,-50%);
					}*/
					background-image: url(/assets/img/bg-familia.jpg);
					background-size: cover;
					background-color: rgba(0,0,0,0.65);
					background-position: center center;
					background-blend-mode: multiply;
				}
				&.sec-eventos{
					/*img{
						width: 220%;
						height: auto;
						top: 50%;
		  				left: 50%;
		  				transform: translate(-70%,-50%);
					}*/
					background-image: url(/assets/img/bg-eventos.jpg);
					background-size: cover;
					background-color: rgba(0,0,0,0.65);
					background-position: center right;
					background-blend-mode: multiply;
				}
				&.sec-galeria{
					/*img{
						width: 110%;
						height: auto;
						top: 50%;
		  				left: 50%;
		  				transform: translate(-50%,-50%);
					}*/
					background-image: url(/assets/img/bg-galeria.jpg);
					background-size: cover;
					background-color: rgba(0,0,0,0.65);
					background-blend-mode: multiply;
					transform: scale(1);
				}

				&:hover{
					box-shadow: 0 2px 3px rgba(0,0,0,.2);
					background-color: rgba(0,0,0,0.3);
					border-radius: 3px;
					transform: scale(1.05);
					z-index: 14;
					transition        : all .3s ease-in-out;
				    -moz-transition   : all .3s ease-in-out;
				    -webkit-transition: all .3s ease-in-out;
				    -o-transition     : all .3s ease-in-out;
					h3{
						top: 12%;
					}
					.magic-text{
						height: 60%;
					}

				}

				.magic-text {
					padding: 5% 10%;
					/*line-height: 12px;
					letter-spacing: .5px;
					font-size: 12px;*/
				}

			}
		}

	}

	.whitespace {
			background-color: red;
		}
}





















@media screen and (max-width: 420px){
	.wrap{
		.bg-duela {
			.logo-text{
				.text-container{
					h2{
						line-height: 25px;
						font-size: 25px;
					}
				}
			}
		}


/*-----------------   Nav-Responsive   -------------*/


		.nav {
			height: auto;
			flex-wrap: wrap;
			background-color: rgba(0,0,0,0.9);

			[class^="sec-"] {
				width: 100%;
				min-height: 240px;
				position: relative;

				&.sec-contacto{
					/*img{
						width: 250%;
						height: auto;
						top: 50%;
		  				left: 80%;
		  				transform: translate(-47%,-50%);
					}*/
					background-image: url(/assets/img/bg-contacto.jpg);
					background-size: cover;
					background-position: center center;
					background-color: rgba(0,0,0,0.65);
					background-blend-mode: multiply;

				}
				&.sec-familia{
					/*img{
						width: 160%;
						height: auto;
						top: 50%;
		  				left: 50%;
		  				transform: translate(-47%,-50%);
					}*/
					background-image: url(/assets/img/bg-familia.jpg);
					background-size: cover;
					background-color: rgba(0,0,0,0.65);
					background-position: center center;
					background-blend-mode: multiply;
				}
				&.sec-eventos{
					/*img{
						width: 220%;
						height: auto;
						top: 50%;
		  				left: 50%;
		  				transform: translate(-70%,-50%);
					}*/
					background-image: url(/assets/img/bg-eventos.jpg);
					background-size: cover;
					background-color: rgba(0,0,0,0.65);
					background-position: center right;
					background-blend-mode: multiply;
				}
				&.sec-galeria{
					/*img{
						width: 110%;
						height: auto;
						top: 50%;
		  				left: 50%;
		  				transform: translate(-50%,-50%);
					}*/
					background-image: url(/assets/img/bg-galeria.jpg);
					background-size: cover;
					background-color: rgba(0,0,0,0.65);
					background-blend-mode: multiply;
					transform: scale(1);
				}

				&:hover{
					box-shadow: 0 2px 3px rgba(0,0,0,.2);
					background-color: rgba(0,0,0,0.3);
					transition        : all .3s ease-in-out;
				    -moz-transition   : all .3s ease-in-out;
				    -webkit-transition: all .3s ease-in-out;
				    -o-transition     : all .3s ease-in-out;
					transform: scale(1);
					z-index: 11;
					h3{
						top: 12%;
					}
					.magic-text{
						height: 55%;
					}

				}

				.magic-text {
					padding: 3% 10%;
					min-height: 64%;
					/*line-height: 12px;
					letter-spacing: .5px;
					font-size: 12px;*/
				}

			}
		}

	}
	.whitespace {
			background-color: blue;
		}
}
