---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


//     \--------------- n'salsate Variables -------------------


// text-variables
$text-color-normal: #555;
$text-color-title: #4c4c4c;
$text-color-ligth: rgba(85, 85, 85, 0.7);

$font-size-normal-small: 16px;
$font-size-title-small: 24px;
$font-size-normal-big: 18px;
$font-size-title-big: 27px;

$font-weight-normal: 200;
$font-weight-title: 300;

$menu-letter: 'Oswald', Roboto, "Helvetica Neue", sans-serif, Helvetica, Arial;
$wrap-shadow: 0 2px 3px rgba(0,0,0,0.4);
$font-family: "Helvetica Neue", Roboto, sans-serif, Helvetica, Arial;
$text-shadow-normal: 0 2px 3px rgba(0,0,0, 0.4);

// color variables
$light-green: #387c6d;
$dark-green: #01765c;

$light-yellow: #fdc140;
// $section-gray: #f3f3f3;
$section-gray: #f6f6f6;


// Our variables  -  Default
$base-font-family: $font-family;
$base-font-size: $font-size-normal-small; /*16px*/
$base-font-weight: $font-weight-title;/*400*/

$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #555;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "header",
        "eventos",
        "galeria",
        "familia",
        "contacto",
        "footer",
        "menutools",
        "record",
        "estudiantes",
        "horarios"
;
